#sidebar a.nav-link {
  transition: color 0.2s, background 0.2s;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem;
}

#sidebar {
  min-height: 100vh;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 1030;
  overflow-y: auto;
}

#sidebar .nav-link .menu-icon {
  font-size: 1.2em;
  margin-right: 1.2em;
  vertical-align: middle;
  color: inherit;
}

#sidebar a.nav-link.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.nav a.nav-link:hover {
  color: #007bff !important;
  background-color: transparent;
}

#sidebar .nav .nav-item {
  margin-bottom: 0.7em;
}

section {
  scroll-margin-top: 30px;
}

img.logo {
  height: 40px;
  margin-right: 10px;
}

img.logo {
  height: 40px;
  margin-right: 10px;
}

.badge-container {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1 2px 6px rgba(0, 0, 0, 0.08);
  padding: 5px;
}

.badge-img {
  width: 100%;
  height: 100%;
  object-fit: contain;        /* Mantiene proporción sin deformar */
  transition: transform 0.2s ease-in-out;
}

.badge-img:hover {
  transform: scale(1.05);
}

.container #about,#experience p {
  text-align: justify;
}

 #linkedin:hover {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  border-color: #007bff !important;
  color: #f8f9fa !important;
  transform: scale(1.05);
}

#btn-scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 1rem;
}
